<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="toolbar-container">
      
      <button class="back-btn" routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>

      <span class="toolbar-title">Notifications</span>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notif-wrapper">
    
    @for (item of notifications; track item.title) {
      <div class="notif-card">
        <div class="notif-top">
          
          <div class="notif-icon">
            <ion-icon name="notifications-outline"></ion-icon>
          </div>

          <div class="notif-content">
            <h3>{{ item.title }}</h3>
            <p>{{ item.message }}</p>
            
            <div class="notif-time">
              <ion-icon name="time-outline"></ion-icon>
              <span>{{ item.time }}</span>
            </div>
          </div>

        </div>
      </div>
    } @empty {
      <div style="text-align: center; padding: 40px; color: #c9a0bc;">
        <p>No notifications yet! 🌸</p>
      </div>
    }

  </div>
</ion-content>